<!DOCTYPE html>
<html lang="en">
    <head> 
        <title>DIS project</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <h1>Food Site</h1>

        <h2>Login</h2>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Enter Username" />
            <input type="password" name="password" placeholder="Enter password" />
            <button type="submit">Login</button>
        </form>

        <p> Don't have an account? </p> 
        <form action="/signup" method="GET">
            <button type="submit">Sign up</button>
        </form>

    </body>

</html>

