<!DOCTYPE html>
<html lang="en">
    <head> 
        <title>DIS project</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <h1>Sign Up</h1>
        <form action="/signup" method="POST">
            <input type="text" name="username" placeholder="Enter Username" />
            <input type="password" name="pass" placeholder="Enter password" />
            <input type="password" name="conf" placeholder="Confirm password" />
            <button type="submit">Register</button>
        </form>
    </body>

</html>


